.cart{
    
    background-color: lightgrey;
    border: 20px;
    /*flex: 1 20rem;*/
}
.cart_checkout{
    display: flex;
    flex-direction: column;
    align-items: center;

}
.items{
    display: flex;
    flex-direction: row;
}
.title{
margin-left: 10px;
}
.sidebar{
  padding: 10px;
  margin-top: 20px;
  margin-bottom: 50px;  

}
.items img{
   width: 100px;
   height: 100px; 
}
.cart__btn{
    margin: 10px;
    background-color: rgb(8, 3, 14);
    color: rgb(245, 241, 242);
    border-radius: 10px;
    padding: 5px;
    font-weight: bold;
}
.cart__btn1{
    margin: 10px;
    background-color: rgb(236, 11, 11);
    color: white;
    padding: 10px;
    border-radius: 20px;
    font-weight: bold;
}
.total{
    font-size: 20px;
    font-weight: bold;
}
.cart__1{
border-bottom: 1rem lightgrey;
padding:10px;
font-weight: bold;
font-size: 17px;
background-color: honeydew;
box-shadow: 0 5px 5px 0 lightslategrey;
}
.addicon{
    margin:10px;
    font-weight: bold;
    border-radius: 20%;
background-color: rgb(155, 25, 25);
color: white;
    
}
.removeicon{
    margin: 10px;
    font-weight: bold;
    border-radius: 20%;
    background-color: rgb(155, 25, 25);
    color: white;
}
.form{
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    font-weight: normal;
    font-weight: bold;

}
.form input{
    padding: 5px;
    width:100%;
    
    border-radius: 5px;
}
.cartbtn{
    margin: 10px;
    background-color: rgb(236, 11, 11);
    color: white;
    padding: 5px;
    border-radius: 20px;
    font-weight: bold;
    font-size: 20px;
    width: 80%;
    margin-top: 30px;
    margin-left: 40px;
}
