.App {
    display: grid;
      height: 100vh;
      grid-template-areas: "header"
      "main"
      "footer";
      grid-template-rows: 2rem 1fr 2rem;
      grid-template-columns: 1fr;
     
      grid-gap: 25px;
      background-color: lightgray;
  }
  @media (min-width: 600px) and (max-width: 1100px) {
    .App {
        display: grid;
      height: 100vh;
      grid-template-areas: "header"
      "main"
      "footer";
      grid-template-rows: 2rem 1fr 5rem;
      grid-template-columns: 1fr;
      grid-gap: 25px;
      background-color: lightgray;
    }
  }
  
  
  /*larger screens */
  
  @media (max-width: 1101px) {
    .App {
        display: grid;
      height: 100vh;
      grid-template-areas: "header"
      "main"
      "footer";
      grid-template-rows: 2rem 1fr 5rem;
      grid-template-columns: 1fr;
      grid-gap: 25px;
      background-color: lightgray;
    }
  }
  
  .footer{
    grid-area: footer;
    margin-top: -10px;
    margin-bottom: -100px;
    background-color: lightgray;
    text-align: center;
    color: rgb(51, 48, 48);
    padding-top: 50px;
    font-size: 20px;
    font-weight: bold;
      
  }
  .content{
    display: flex;
    flex-wrap: wrap;
  }